# Functions, Scoping, Data Collections 1 & List Comprehensions

## Tasks Today:

<i>Monday Additions (for loops)</i>

1) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
2) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
 
3) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>
4) Working With Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) min() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) max() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) sum() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) sort() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Copying a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) 'not in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Checking an Empty List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Removing Instances with a Loop <br> 
5) List Comprehensions <br>
6) Tuples <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) sorted() <br>

### For Loops

In [5]:
# for loops "loop over" iterables (lists sets dictionaries and strings)

# for (keyword)  counter (variable to count items), in keyword condition (iterable)

for i in range(10):
    print(i)
    
name = "Hootie Hubbell"

for letter in name:
    print(letter)
for i in range(len(name)):    
    print(name[i])

0
1
2
3
4
5
6
7
8
9
H
o
o
t
i
e

H
u
b
b
e
l
l
H
o
o
t
i
e

H
u
b
b
e
l
l

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [7]:
# will continue to next iteration
for i in range(20):
    if i % 2 == 0:
        continue
    print(i)

1
3
5
7
9
11
13
15
17
19

##### Break Statement

In [8]:
# will break out of current loop
for i in range(20):
    if i == 5:
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [9]:
# mostly used as a placeholder, and will continue on same iteration
for i in name:
    pass #todo: come back and finish this

##### Double For Loops

In [10]:
for i in range(5):
    for j in range(5):
        print(f"i = {i} j = {j}")

i = 0 j = 0
i = 0 j = 1
i = 0 j = 2
i = 0 j = 3
i = 0 j = 4
i = 1 j = 0
i = 1 j = 1
i = 1 j = 2
i = 1 j = 3
i = 1 j = 4
i = 2 j = 0
i = 2 j = 1
i = 2 j = 2
i = 2 j = 3
i = 2 j = 4
i = 3 j = 0
i = 3 j = 1
i = 3 j = 2
i = 3 j = 3
i = 3 j = 4
i = 4 j = 0
i = 4 j = 1
i = 4 j = 2
i = 4 j = 3
i = 4 j = 4

### While Loops

In [13]:
#while (keyword), condition statement
#while loop continues as long as condition is true

num = 0

while num < 10:
    print(num)
    num += 5

0
5

##### looping 'While True'

In [14]:
game_over = False #This is a flag

while True:
    print('infinite loop')
    if game_over == False:
        break

infinite loop

##### While & For Loops Used Together

In [15]:
num = 0

while num < 5:
    print('\nWhile loop iteration', str(num))
    
    for i in range(2):
        print("for loop iteration", str(i))
        
    num += 1

While loop iteration 0
for loop iteration 0
for loop iteration 1

While loop iteration 1
for loop iteration 0
for loop iteration 1

While loop iteration 2
for loop iteration 0
for loop iteration 1

While loop iteration 3
for loop iteration 0
for loop iteration 1

While loop iteration 4
for loop iteration 0
for loop iteration 1

##### The Range Function

In [17]:
for i in range(2, 20, 2):
    print(i)

2
4
6
8
10
12
14
16
18

### String Manipulation Exercise

In [23]:
#loop through names list and print out each name with a capital letter
names = ['    coNNor', 'max', ' EVan ', 'JORDAN']
# HINT: You will need to use a for loop for iteration

for name in names:
    print(name.title().strip())

Connor
Max
Evan
Jordan

## Lists

##### Declaring Lists

In [24]:
l_1 = [] #this is an empty list declaration

names = ["tommy", 'jason', 'kimberly', 'zach','hootie', 'billy']
print(names)

['tommy', 'jason', 'kimberly', 'zach', 'hootie', 'billy']

##### Indexing a List
#### (slicing a list)

In [32]:
#[start, stop, step] -- [-1]* indicates end of a list

#single index
print(names[0])

#starting at index 1 and going through the end
print(names[1:])

#start at the beggining and end at n (n number we wish to stop at)
print(names[:4])

#start at 1 and go to end counting by 2
print(names[::2])

#reverse the list
print(names[::-1])

tommy
['jason', 'kimberly', 'zach', 'hootie', 'billy']
['tommy', 'jason', 'kimberly', 'zach']
['tommy', 'kimberly', 'hootie']
['billy', 'hootie', 'zach', 'kimberly', 'jason', 'tommy']

### List Methods

##### .append()

In [33]:
names.append('Terrell')
print(names)

['tommy', 'jason', 'kimberly', 'zach', 'hootie', 'billy', 'Terrell']

##### .insert()

In [36]:
names.insert(2, 'ryan')
print(names)

['tommy', 'jason', 'ryan', 'ryan', 'kimberly', 'zach', 'hootie', 'billy', 'Terrell']

##### .pop()

In [37]:
# default is the ast value if no parameter is given
# pop returns the element that was removed in case you want to assign it into a variable 
extra_ryan = names.pop(2)
print(extra_ryan)
print(names)

ryan
['tommy', 'jason', 'ryan', 'kimberly', 'zach', 'hootie', 'billy', 'Terrell']

##### .remove()

In [38]:
# value to be removed, not an index
while 'kimberly' in names:
    names.remove('kimberly')
print(names)

['tommy', 'jason', 'ryan', 'zach', 'hootie', 'billy', 'Terrell']

### Working With Lists

##### del()

In [39]:
# index to be removed, not value 
# BE CAREFUL with del, can cause an indexing error if not used carefully
del(names[0])
print(names)

['jason', 'ryan', 'zach', 'hootie', 'billy', 'Terrell']

##### min()

In [46]:
numbers = [3,4,5,12,100,-46]
print(min(numbers))

-46

##### max()

In [42]:
numbers = [3,4,5,12,100,-46]
print(max(numbers))

100

##### sum()

In [43]:
print(sum(numbers))

78

##### sorted()

In [45]:
print(numbers)

sorted_numbers = sorted(numbers)
print(f"sorted_numbers: {sorted_numbers}")

[3, 4, 5, 12, 100, -46]
sorted_numbers: [-46, 3, 4, 5, 12, 100]

##### .sort() <br>
<p>Difference between sort and sorted, is that sorted doesn't change original list it returns a copy, while .sort changes the original list</p>

In [54]:

print(f"numbers before sort: {numbers}")
print(f"numbers.sort(), {numbers.sort()}")
print(numbers.sort(reverse=True))
print(numbers)
print(numbers.reverse())
print(numbers)

numbers before sort: [-46, 3, 4, 5, 12, 100]
numbers.sort(), None
None
[100, 12, 5, 4, 3, -46]
None
[-46, 3, 4, 5, 12, 100]

In [55]:
#sorting by absolute value
def absolute(value):
    return abs(value)
numbers.sort(key=absolute)
print(numbers)

[3, 4, 5, 12, -46, 100]

##### Copying a List

In [56]:
# [:] copies a list, doesn't alter original'
list_1 = numbers[:]
print(list_1)

[3, 4, 5, 12, -46, 100]

##### Looping Through Lists

In [59]:
# two ways to loop through lists,
# 1st: with in keyword: for item in list
#2nd: by index -- for i in range(len(list))

# 1st way
for name in names:
    print(name)
    
#2nd way
for i in range(len(names)):
    print(names[i])

jason
ryan
zach
hootie
billy
Terrell
jason
ryan
zach
hootie
billy
Terrell

In [61]:
#way 3 to loop: grabbing both index and value
#for index, value in enumerate iterable

for indie, name in enumerate(names):
    print(f"The index is {indie} and the name is {name}")

The index is 0 and the name is jason
The index is 1 and the name is ryan
The index is 2 and the name is zach
The index is 3 and the name is hootie
The index is 4 and the name is billy
The index is 5 and the name is Terrell

In [ ]:
##

##### 'in' keyword

In [62]:
ct_teachers = ["joel","derek","sam","nate","kevin"]

if "sam" in ct_teachers:
    print("sam is indeed a teacher")
else:
    print("no sam here")

sam is indeed a teacher

In [63]:
for name in ct_teachers:
    if name[0] == 'n':
        print('found',name)
    else:
        print('not found')

not found
not found
not found
found nate
not found

##### 'not in' keyword

In [64]:
if "tommy" not in ct_teachers:
    print('no tommy here')

no tommy here

##### Checking an Empty List

In [66]:
l_2 = []

if l_2 == []:
    print('empty')

if l_2:
    print("we have values")
else:
    print('empty list')

empty
empty list

##### Removing Instances with a Loop

In [67]:
# while, remove
names = ['Conner',"Joel", "Max","Evan","Rob","Evan"]

while 'Evan' in names:
    names.remove('Evan')
print(names)

for name in names:
    if name == 'Evan':
        names.remove('Evan')
print(names)

['Conner', 'Joel', 'Max', 'Rob']
['Conner', 'Joel', 'Max', 'Rob']

### List Exercise <br>
<p>Remove all duplicates<br><b>Extra: Create a program that will remove any duplicates from a given list</b></p>

In [72]:
names = ['connor', 'connor', 'bob', 'connor', 'evan', 'max', 'evan', 2, 2, 2, 3, 3, 4, 'bob', 'kevin']
# Hint 1: You will need an append
# Hint 2: Using an empty list will make life easier

names1 = []

for name in names:
    if name not in names1:
        names1.append(name)
print(names1)

# also works
def names2(names):
    print(list(set(names)))
names2(names)

['connor', 'bob', 'evan', 'max', 2, 3, 4, 'kevin']
['connor', 'bob', 2, 3, 4, 'evan', 'max', 'kevin']

In [73]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

### List Comprehensions <br>
<p>Creating a quickly generated list to work with<br>*result*  = [*transform*    *iteration*         *filter*     ]</p>

##### In a list comprehension we have a few pieces:
1. The first is the counter/ variable - IN this the variable is x
2. then we have a transform for the variable
3. The finale part of a list comp is called the condition

```python
    [variable, transform, condition]
```

In [75]:
#number comprehension

#with regular for loop

nums = []
for i in range(100):
    nums.append(i)
print(nums)

print('\n')

#with list comprehension

nums_comp = [i for i in range(100)]
print(nums_comp)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]


[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

There are a few benefits to using List comprehensions. The most obvious would be that we now have shorter code to work with instead of using 3+ lines of code in the for loop variant.

Another is an added benefit to memory usage. Since the list's memory is allocated first before adding elements to it, we don't have to resize the list once we add elements to it.

Lastly, list comprehensions are considered the "pythonic" way to write code by the PEP8 standards (Python Style Guide)

In [80]:
# square number comprehension
square = [x*x for x in range(10)]

print(square)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [89]:
#create a list of first letters from list of names given
names = ['peter','piper','penny','bob','sally']

#expected output: ['p','p','p','b','s']
letter = [name[0] for name in names]
print(letter)

last = [name[-1] for name in names]
print(last)

first = [name[0] for name in names if name[0] == 'p']
print(first)

['p', 'p', 'p', 'b', 's']
['r', 'r', 'y', 'b', 'y']
['p', 'p', 'p']

### Tuples <br>
<p><b>Defined as an immutable list</b></p><br>Seperated by commas using parenthesis

In [96]:
#dir(tuple(names))

tup_1 = 1,2,3 #first way to creat a tuple
tup_2 = (1,2,3) #2nd way to create tuple

print(type(tup_1))
print(type(tup_2))

for num in enumerate(tup_2):
    print(num)
    
# tuple with one value
tup_3 = 3,
print(type(tup_3))

<class 'tuple'>
<class 'tuple'>
(0, 1)
(1, 2)
(2, 3)
<class 'tuple'>

##### sorted()

In [98]:
tup_4 = 20,5,12,3,9,52
sorted_tup = sorted(tup_4)
print(type(sorted_tup))

<class 'list'>

##### Adding values to a Tuple

In [99]:
print(tup_1)
tup_1 += 5,
print(tup_1)

(1, 2, 3)
(1, 2, 3, 5)

# Exercises

## Exercise 1 <br>
<p>Using the given list, print out a filtered version of the list with only the numbers that are less than ten</b></i></p><br>

In [112]:
alist = [1,11,14,5,8,9]

blist = [i for i in alist if i < 10 ]

print(blist)

[1, 5, 8, 9]

## Exercise 2 <br>
<p>Merge and sort the two lists below<br>
<b><i>Hint: You can use the .sort() method</i></b></p>

In [122]:
l_1 = [1,2,3,4,5,6]
l_2 = [3,4,5,6,7,8,10]

l_3 = l_1 + l_2
l_3.sort()

print(l_3)

[1, 2, 3, 3, 4, 4, 5, 5, 6, 6, 7, 8, 10]